@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.bf-padding-top-60 {
  padding-top: 60px;
}

@media(min-width:1046px) {
  .bf-padding-left-20-p {
    padding-left: 20%;
  }
}