<bf-page [title]="'All teams'">
    <div class="w3-row" *ngFor="let teamRow of teams">
        <bf-section class="w3-col m4" *ngFor="let team of teamRow">
            <bf-container>
                <mat-expansion-panel class="w3-round">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Random team title here.</mat-panel-title>
                    </mat-expansion-panel-header>

                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                    Random description here. <br />
                </mat-expansion-panel>
            </bf-container>
        </bf-section>
    </div>

    <button mat-flat-button class="w3-block w3-round" (click)="generateTeams()">
        Generate
    </button>
</bf-page>