<bf-page [title]="'All teams'">
    <div class="w3-row" *ngFor="let teamRow of teams">
        <bf-section class="w3-col m4" *ngFor="let team of teamRow">
            <bf-container>
                <mat-expansion-panel class="w3-round">
                    <mat-expansion-panel-header>
                        <mat-panel-title><b>Generated team</b></mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngFor="let player of team.players">
                        <bf-section>
                            <button mat-button class="w3-block">
                                <b>{{player.firstName}} {{player.lastName}}</b> <small>{{player.age}} years,
                                    {{player.weight}}</small>
                            </button>
                        </bf-section>
                    </div>
                </mat-expansion-panel>
            </bf-container>
        </bf-section>
    </div>

    <button mat-flat-button class="w3-block w3-round" (click)="generateTeams()">
        Generate
    </button>
</bf-page>