.bf-fixed {
    position: fixed;
}

.bf-z-index-2 {
    z-index: 2;
}

.bf-menu-button {
    margin-right: 0;
    margin-left: auto;
}

@media(max-width:1046px) {
    .bf-menu-button {
        visibility: visible;
    }
}

@media(min-width:1046px) {
    .bf-menu-button {
        visibility: hidden;
    }
}