<bf-page [title]="'Home'">
    <div class="w3-row w3-section w3-card w3-round">
        <div class="w3-col m4">
            <img src="../../assets/home-1.jpg" class="w3-image w3-section w3-container" style="width:450px; clear: right">
        </div>

        <div class="w3-col m7">
            <p class="w3-section w3-container" style="font-size: 18px;">Welcome to <b>Buddy finder</b>. Here you
                can
                find a teamate for the
                game you like the most. Feel free to create an account and wait for the generation of the teams.
                Our
                algorithm is
                always trying to generate
                balanced teams based on your age, weight, experience and number of matches. Also it is always
                learning
                once you give use the feedback after each match.</p>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col m6">
            <bf-section>
                <bf-container>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h3><b>Create new player</b></h3>
                            </mat-card-title>
                        </mat-card-header>

                        <img mat-card-image src="../../assets/home-2.PNG" alt="Creation of a new player..." class="w3-section w3-container">

                        <mat-card-content>
                            <p>This view is used to create a new player. Initially, the save button is disabled untill
                                all
                                the
                                requirements are satisfied. Fill all the required fields and press the save button.</p>
                        </mat-card-content>
                    </mat-card>
                </bf-container>
            </bf-section>
        </div>

        <div class="w3-col m6">
            <bf-section>
                <bf-container>
                    <mat-card class="w3-hover-shadow">
                        <mat-card-header>
                            <mat-card-title>
                                <h3><b>All players</b></h3>
                            </mat-card-title>
                        </mat-card-header>

                        <img mat-card-image src="../../assets/home-3.PNG" alt="View all existent players..." class="w3-section w3-container">

                        <mat-card-content>
                            <p>This view is used to view all the existent players. You can also click on one of them to
                                view the details of that player. Only a single player can be expanded at 1 point of
                                time.</p>
                        </mat-card-content>
                    </mat-card>
                </bf-container>
            </bf-section>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col m6">
            <bf-section>
                <bf-container>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h3><b>All teams</b></h3>
                            </mat-card-title>
                        </mat-card-header>

                        <img mat-card-image src="../../assets/home-4.PNG" alt="View all existent teams..." class="w3-section w3-container">

                        <mat-card-content>
                            <p>
                                This view is used to view all the generated teams. You can also click on any team to
                                view all the players inside it. It is possible to view more details at once.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </bf-container>
            </bf-section>
        </div>
    </div>

</bf-page>