<div class="bf-height-100 bf-left-menu bf-padding-top-60">
    <mat-list class="w3-block">
        <button mat-button mat-list-item class="w3-block w3-left-align bf-menu-item" (click)="navigateTo('')">
            <mat-icon>home</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp; <strong>Home</strong>
        </button>

        <button mat-button mat-list-item class="w3-block w3-left-align bf-menu-item" (click)="navigateTo('/create-player')">
            <mat-icon>menuitem</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp; <span><strong>Create player</strong></span>
        </button>

        <button mat-button mat-list-item class="w3-block w3-left-align bf-menu-item" (click)="navigateTo('/all-players')">
            <mat-icon>menuitem</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp; <strong>All players</strong>
        </button>

        <button mat-button mat-list-item class="w3-block w3-left-align bf-menu-item" (click)="navigateTo('/all-teams')">
            <mat-icon>menuitem</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp; <strong>All teams</strong>
        </button>
    </mat-list>
</div>