<div class="bf-player-details">
    <mat-form-field>
        <label>First name: </label>
        <input matInput matAutosize="true" readonly value="{{player.firstName}}">
    </mat-form-field>

    <mat-form-field>
        <label>Last name: </label>
        <input matInput readonly value="{{player.lastName}}">
    </mat-form-field>

    <mat-form-field>
        <label>Age: </label>
        <input matInput readonly value="{{player.age}}">
    </mat-form-field>

    <mat-form-field>
        <label>Weight: </label>
        <input matInput readonly value="{{player.weight}}">
    </mat-form-field>
</div>