<bf-page-title>All players</bf-page-title>

<bf-page-content>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let user of players">
            <mat-expansion-panel-header>
                <mat-panel-title class="bf-hide-text-overflow">
                    <strong>{{user.firstName}} {{user.lastName}}</strong>
                </mat-panel-title>
                <mat-panel-description class="bf-hide-text-overflow">
                    <span>{{user.firstName}} {{user.lastName}}, {{user.age}}, {{user.weight}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <bf-user-details [user]="user"></bf-user-details>
        </mat-expansion-panel>
    </mat-accordion>
</bf-page-content>