@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px; 
}

.text-center {
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

.bf-height-100 {
    height: 100%;
}